<div class="container">
    <div class="spacer"></div>
    <p class="fs-2 text-uppercase pHdrs"><span>ACTIONS</span></p>
    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
                <h5 class="card-header">Members</h5>
                <div class="card-body">
                    <h5 class="card-title"><%= inventoryCount %></h5>
                    <p class="card-text">List of Signed in members</p>
                    <a href="/viewMembers" class="btn btn-primary fw-bold">View Members</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <h5 class="card-header">Inventory</h5>
                <div class="card-body">
                    <h5 class="card-title"><%= usersCount %></h5>
                    <p class="card-text">List of Inventory</p>
                    <a href="/viewInventory" class="btn btn-primary fw-bold">View inventory</a>
                </div>
            </div>
        </div>
    </div>
    <div class="spacer"></div>
</div>